*~
*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bbl
*.blg
*.glg
*.idx
*.ind
*.ist
*.log
*.out
*.sim
*.sym
*.synctex.gz
*.toc
*.xmpdata
*.xmpi
*.run.xml
*.bcf
*.fdb_latexmk
*.fls
*.tdo
*_bibtex.pdf
dissertation-figure*.pdf
dissertation-figure*.dpth
dissertation-figure*.md5
build/
